<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html {
            background-color: black;
            color: whitesmoke;
            font-family: monospace;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        h1, h2 {
            text-align: center;
        }

        a:link, a:visited, a:hover, a:active{
            color: darkcyan;
            text-decoration: none;
        }
    </style>
    <title>nenad.dev</title>
</head>

<body>
    <h1>Nenad Stojanovikj</h1>
    <h2>Software Engineer</h2>
    <p>I build microservices in Go and PHP. I deploy them on Kubernetes in AWS. My preferred OS is Arch Linux. I enjoy contributing to open-source software.</p>
    <p>- contact me at <a href="mailto:mail@nenad.dev">mail@nenad.dev</a></p>
    <p>- find my work on <a href="https://github.com/nenad">github.com/nenad</a></p>
    <p>- verify it's me at <a href="https://keybase.io/stojanovikj">keybase.io/stojanovikj</a></p>
</body>

</html>
